#h1{
	text-align:center;
	color:#30000;
	}
#aboutme{
	    text-align:center;
		font-size:18px;	
		
		}
#address{
	padding:260px;
}


#my{
  
   text-align:center;
}
img {
width:200px;
 height: 300px;
}
